@charset "utf-8";

html {
  /* ブラウザのデフォルトが16px                        */
  /* デフォルトの16pxの代わりに1emが10pxになるように調整 */
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  /* 16px */
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  text-align: center;
  /* background-color: rgba(233, 168, 227, 0.6); */
  background-blend-mode: soft-light;
  background-image: url(../img/pot.jpg);
  background-size: cover;
}

header,
main,
footer,
h1,
h2,
h3,
p,
div,
table,
.field,
.btn-area,
.filler01 {
  margin: 0.5em 0em 0em 0em;
  padding: 0.1em;
}

th,
td {
  line-height: 1.2em;
  padding: 0.1em;
}

/*******************************************************/
/* 見出し                                              */
/*******************************************************/
h1 {
  color: rgb(12, 100, 49);
}

h2 {
  /* color: grey; */
  color: rgb(72, 194, 98);
  font-weight: 1000;
}

/*******************************************************/
/* メイン                                              */
/*******************************************************/
/* KEY 入力エリア */
.field01 {
  position: relative;
  height: 5em;
}

/* MEMO 入力エリア */
.field02 {
  position: relative;
  height: 10em;
}

/* ラベル */
label {
  position: absolute;
  left: 0.5em;
  color:black;
  font-weight: 1000;
}

label::after {
  margin-left: 1.0em;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #C44;
  content: "必須";
}

/* ★自分でコーディングする！(code by yourself) ... 疑似要素「::after」を使って、「必須」の文字を定義する。*/

/* テキストエリア */
textarea {
  position: absolute;
  top: 2em;
  left: 3em;
}

/* placeholder */
textarea::placeholder {
  color: #46aef7;
}

/* ボタン */
.btn-area {
  margin-left: 3em;
  text-align: left;
}

#save {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1em;
  background: rgb(12, 100, 49);
  cursor: pointer;
  outline: none;
  outline-offset: -3px;
  /*カーソルをポインターの形（かたち）にする*/
}
#save:active {
  transform: translateY(4px);
  box-shadow:
        inset -2px -2px 0 rgba(0, 0, 0, 0.35),
        inset 2px 2px 0 rgba(255, 255, 255, 0.25),
        0 2px 0 rgb(12, 100, 49);
}

/********************************************************/
/* レスポンシブ対応　メディアクエリを使ってCSSを切り替える */
/* https://www.design-memo.com/coding/css-media-queries */
/********************************************************/
/* mobileのときのスタイル */
@media screen and (max-width: 400px) {

  /* ラベル */
  label {
    left: 0.1em;
  }

  /* テキストエリア */
  textarea {
    left: 0.1em;
  }

  /* ボタン */
  .btn-area {
    margin-left: 0.1em;
  }

  table {
    width: 100%;
    margin-left: 0.1em;
  }
}

/*******************************************************/
/* class=back                                         */
/* id=btn99 backボタン                                 */
/*******************************************************/
.back {
  text-align: left;
}

#btn99{
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    /* font-size: 24px; */
    font: italic small-caps bold 16px/2 cursive;
    background: rgb(72, 194, 98);
    user-select: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(233, 40, 40, 0.2);
    outline: 3px ridge #032704;
    outline-offset: -3px;
    /* カーソルをポインターの形（わかち）にする */
}
#btn99:active {
    transform: translateY(4px);
    box-shadow:
        inset -2px -2px 0 rgba(0, 0, 0, 0.35),
        inset 2px 2px 0 rgba(255, 255, 255, 0.25),
        0 2px 0 #305305;
}

/* table */
table{
  table-layout: fixed;
  width: 80%;
  margin-left: 3em;
  border-collapse: collapse;
  opacity: 0.9;
}
table th{
  background: rgb(21, 109, 68);
}
table th,table td{
  padding: 0.5em;
  border: solid 0.1em #fff;
  color: rgb(10, 10, 10);
  text-align: center;
}
table tr{
  background: #b9dfa1;
}
.width10{
  width: 10%;
}
.width30{
  width: 30%;
}
.width60{
  width: 60%;
}