@charset "utf-8";

html {
    font-size: 16px;
}

/* 「*」はユニバーサルセレクタ(すべての要素を対象にするセレクタ)でbox-sizing: border-box;を指定 */
/* この指定(してい)はborderとpaddingをボックスサイズ(widthとheight)の中に含めて算出するので、スタイリングがしやすい*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* back button */
.back{
    text-align: left;
}

#btn99{
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    /* font-size: 24px; */
    font: italic small-caps bold 16px/2 cursive;
    background: rgb(152, 143, 238);
    user-select: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(102, 8, 133, 0.2);
    outline: 3px ridge #a81dc7;
    outline-offset: -3px;
    /* カーソルをポインターの形（わかち）にする */
}
#btn99:active {
    transform: translateY(4px);
    box-shadow:
        inset -2px -2px 0 rgba(0, 0, 0, 0.35),
        inset 2px 2px 0 rgba(255, 255, 255, 0.25),
        0 2px 0 #b94d1b;
}

body {
    margin: 0;
    line-height: normal;
    /*ブラウザが自動的に行間を決める*/
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    /* background: rgb(235, 250, 242); */
    background-image: url(../img/omikuji_background.jpg);
    background-size: cover;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

/* header */
header {
    margin-top: 40px;
    color: rgba(253, 4, 79, 0.7);
    font-weight: bold;
    font-size: 38px;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.65);
    text-align: center;
}

/* body */
.wrapper {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-bottom: 23px;
    text-align: center;
}

/* omikuji button */
#btn1 {
    position: relative;
    margin: 0px auto;
    width: 280px;
    height: 280px;
    background-image: url(../img/omikuji3.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    user-select: none;
}

#btn1:hover {
    animation: shaking 0.3s infinite;
}

@keyframes shaking {
    0% {
        transform: translate(0px, 0px)rotateZ(0deg);
    }

    25% {
        transform: translate(2px, 2px)rotateZ(1deg);
    }

    50% {
        transform: translate(0px, 2px)rotateZ(0deg);
    }

    75% {
        transform: translate(2px, 0px)rotateZ(1deg);
    }

    100% {
        transform: translate(0px, 0px)rotateZ(0deg);
    }
}

#btn1:active {
    position: relative;
    top: 10px;
    left: 10px;
}

#omikujiText {
    position: relative;
    margin: 10px auto;
    /* font-weight: 800;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.65);
    transition: 1s; */
}

/* fukada sensei add-str */
.omikujiPaper {
    animation: fadeDown 1.5s forwards;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

/*fukada sensei add-str  */

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: rgb(3, 9, 70);
    font: 16px Rajdhani;
    text-align: center;
    background: rgba(147, 161, 240, 0.7);
}

.shutter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0em;
    padding: 0em;
    background-color: #1e1e1e;
    animation: byeShutter 2.5s forwards;
}

.shutter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #fff;
    animation: shutterOpen 2.5s forwards;

}

@keyframes byeShutter {
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

@keyframes shutterOpen {
    0% {
        width: 0;
        height: 0.05em;
    }

    50% {
        width: 100%;
        height: 0.05em;
    }

    90% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

/* moblie display */
@media screen and (max-width:480px) {
    body {
        background-position: 75% 0%;
        background-size: auto 1000px;
    }

    header {
        font-size: 20px;
        margin-top: 30px;
    }

    #btn1 {
        width: 260px;
        height: 260px;
    }

    #omikujiText {
        margin: 30px;
    }
}