@charset "utf-8";

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: normal;
    /*ブラウザが自動的に行間を決める*/
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    /* background: rgb(243, 247, 215); */
    background-image: url(../img/cloud.jpg);
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

/* header */
header {
    margin-top: 8px;
    color: rgb(243, 95, 169);
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    background: rgba(137, 246, 250, 0.363);
    ;
}

/* body */
.wrapper {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    text-align: center;
}

/* game area/class=game-container */
.game-container {
    padding: 40px 0;
}

/* class=message-container */
.message-container {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
}

.js-hidden {
    display: none;
}

/* for level */
.level-container{
    margin: 0px 80px 10px;
    font-size: 1em;
    font-weight: bold;
}

.level-box{
    display: flex;
    justify-content: space-around;
}

.level{
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
}

.level-non-selected{
    color: whitesmoke;
    background: grey;
    border: solid 2px #333;
}

.level-selected{
    color: rgb(248, 59, 52);
    background:  rgba(137, 246, 250, 0.363);;
    border: solid 2px #2e1d1d;
}
/* game area/class=square-container */
.squares-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 234px;
}

.squares-box {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px #333;
    width: 234px;
    height: 234px;
}

.square {
    position: relative;
    width: calc(230px/3);
    height: calc(230px/3);
    border: solid 2px #333;
}

/* penguins */
.js-pen-checked::before {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 61px;
    height: 61px;
    content: '';
    /* 画像だけ表示したい場合は空にする */
    background-image: url(../img/penguin.png);
    background-size: contain;
}

/* bear */
.js-bear-checked::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 61px;
    height: 61px;
    content: '';
    /* 画像だけ表示したい場合は空にする */
    background-image: url(../img/bear.png);
    background-size: contain;
}

/* non protect */
.js-clickable {
    content: '';
}

/* protect : ボタンクリックなどのマウスイベントを無効（むこう）にする */
.js-unclickable {
    pointer-events: none;
}

/* winner-line hight-light */
/* .js-pen_highLight {
    border: solid 5px rgb(5, 187, 59);
    border-style: dotted;
} */
.js-pen_highLight {
    border: 3px dotted rgb(3, 4, 75);
    animation: blink 0.6s steps(1) infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* .js-bear_highLight {
    border: solid 5px rgb(51, 41, 194);
    border-style: dotted;
} */

.js-bear_highLight {
    border: 3px dotted rgb(110, 8, 47);
    animation: blink 0.6s steps(1) infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.btn {
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    /* font-size: 24px; */
    font: italic small-caps bold 16px/2 cursive;
    background: rgba(243, 107, 152, 0.884);
    user-select: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(233, 40, 40, 0.2);
    outline: 3px ridge #ca26bd;
    outline-offset: -3px;
    /* カーソルをポインターの形（わかち）にする */
}

.btn:active {
    transform: translateY(4px);
    box-shadow:
        inset -2px -2px 0 rgba(0, 0, 0, 0.35),
        inset 2px 2px 0 rgba(255, 255, 255, 0.25),
        0 2px 0 #b94d1b;
}

/************************************************/
/* backボタン                                     */
/************************************************/
/* class = "back" */
.back {
    margin-top: 8px;
    text-align: left;
}

/************************************************/
/* New Game                                   */
/************************************************/
/* class = ".btn-container" */
.btn-container {
    padding-top: 40px;
}

/* id=btn09 */
#btn90:hover {
    background-color: rgba(113, 200, 250, 0.726);
    transition-duration: 0.4s;
}

/************************************************/
/* footer                                       */
/************************************************/
footer>p {
    position: absolute;
    /* 絶対位置 */
    bottom: 5px;
    /* 下に固定 */
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: whitesmoke;
    font: 16px Rajdhani;
    text-align: center;
    background: rgba(1, 24, 31, 0.7);
}

/************************************************/
/* Media Query responsive setting               */
/************************************************/
/* mobileのときのスタイル */
@media screen and (max-width: 480px) {
    .wrapper {
        padding-bottom: 23px;
        /* footer+paddingの高さ */
    }

    .btn-container {
        padding-top: 2px;
    }

    header {
        font-size: 24px;
    }

    #msgtext {
        font-size: 19px;
    }

}
