@charset "utf-8";

html {
  /* ブラウザのデフォルトが16px                        */
  /* デフォルトの16pxの代わりに1emが10pxになるように調整 */
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  /* 16px */
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  text-align: center;
  background-color: rgba(252, 218, 248, 0.6);
  background-blend-mode: soft-light;
  /* background-image: url(../img/fireworks.gif); */
  background-size: cover;
  overflow: hidden;
}

header,
main,
footer,
h1,
h2,
h3,
p,
div,
table,
.field,
.btn-area,
.filler01 {
  margin: 0.5em 0em 0em 0em;
  padding: 0.1em;
}

/*******************************************************/
/* ゲーム全体                                           */
/*******************************************************/
.wrapper {
  position: relative;
  /*相対位置*/
  max-width: 100vw;
  /*すべての要素をbox-sizing:border-boxとしているので全て含めてmin-width:100vwに*/
  min-height: 100vh;
  /*すべての要素をbox-sizing:border-boxとしているので全て含めてmin-height:100vhに*/
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  /*footer+paddingの高さ*/
  text-align: center;
}

header {
  margin-top: 8px;
  color:#f3ff47;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  background: rgb(112, 212, 252);
}

.message-container {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  overflow: hidden;
}

.time-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  justify-content: center;
  background: #ecf56a;
  /* height: 100px;
  line-height: 100px;
  font-size: 50px;
  margin-bottom: 10px; */
}

.time-item {
  margin: 10px 0px;
  height: 100px;
  line-height: 100px;
  font-size: 25px;
}

i {
  color: rgb(185, 61, 223);
}

#timer {
  font-size: 50px;
}

.timer-fontColor_hidden {
  color:  #ecf56a;
}

.timer_appear {
  transition: 1s;
}

/****************************************/
/* ボタンエリア                          */
/****************************************/
.btn-container {
  margin: 0px 100px 5px;
  font-size: 1em;
  font-weight: bold;
}

.btn-area {
  display: flex;
  justify-content: space-around;
}

.btn{
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    /* font-size: 24px; */
    font: italic small-caps bold 16px/2 cursive;
    background:rgb(26, 212, 212);
    user-select: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(10, 102, 118, 0.2);
    outline: 3px ridge #0c7c84;
    outline-offset: -3px;
    /* カーソルをポインターの形（わかち）にする */
}
.btn:active {
    transform: translateY(4px);
    box-shadow:
        inset -2px -2px 0 rgba(0, 0, 0, 0.35),
        inset 2px 2px 0 rgba(255, 255, 255, 0.25),
        0 2px 0 #043941;
}

.js-inactive {
  opacity: 0.6;
}

/* protect：ホバーやクリックなどのマウスイベントを無効（むこう）にする*/
.js-unclickable {
  pointer-events: none;
}

/*******************************************************/
/* footer                                              */
/*******************************************************/
footer>p {
  position: absolute;
  /*←絶対位置*/
  bottom: 10px;
  /*下に固定*/
  width: 100%;
  margin: 0px;
  padding: 1px;
  color: whitesmoke;
  font: 16px Rajdhani;
  text-align: center;
  background: rgba(1, 24, 31, 0.7);
}

/********************************************************/
/* レスポンシブ対応　メディアクエリを使ってCSSを切り替える */
/* https://www.design-memo.com/coding/css-media-queries */
/********************************************************/
/* mobileのときのスタイル */
@media screen and (max-width: 480px) {
  body {
    background-position: center center;
    background-size: auto 900px;
  }

  .btn-container {
    margin: 0px 2px 20px;
    font-size: 1em;
    font-weight: bold;
  }

  footer>p {
    margin: 0px;
    padding: 0px;
  }

}

/*******************************************************/
/* class=back                                         */
/* id=btn99 backボタン                                 */
/*******************************************************/
.back {
  text-align: left;
}

#btn99{
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    /* font-size: 24px; */
    font: italic small-caps bold 16px/2 cursive;
    background:rgb(26, 212, 212);
    user-select: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(10, 102, 118, 0.2);
    outline: 3px ridge #0c7c84;
    outline-offset: -3px;
    /* カーソルをポインターの形（わかち）にする */
}
#btn99:active {
    transform: translateY(4px);
    box-shadow:
        inset -2px -2px 0 rgba(0, 0, 0, 0.35),
        inset 2px 2px 0 rgba(255, 255, 255, 0.25),
        0 2px 0 #043941;
}