@charset "utf-8";

html {
font-size: 16px;
}
/* 「*」はユニバーサルセレクタ(すべての要素を対象にするセレクタ)でbox-sizing: border-box;を指定 */
/* この指定(してい)はborderとpaddingをボックスサイズ(widthとheight)の中に含めて算出するので、スタイリングがしやすい*/

*, *::before, *::after {
box-sizing: border-box;
}

/* back button */
.back{
    text-align: left;
}

#btn99{
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    /* font-size: 24px; */
    font: italic small-caps bold 16px/2 cursive;
    background: rgb(238, 50, 3);
    user-select: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(233, 40, 40, 0.2);
    outline: 3px ridge #ca5726;
    outline-offset: -3px;
    /* カーソルをポインターの形（わかち）にする */
}
#btn99:active {
    transform: translateY(4px);
    box-shadow:
        inset -2px -2px 0 rgba(0, 0, 0, 0.35),
        inset 2px 2px 0 rgba(255, 255, 255, 0.25),
        0 2px 0 #b94d1b;
}

body{
margin: 0;
line-height: normal; /*ブラウザが自動的に行間を決める*/
font-family: "Helvetica Neue",
Arial,
"Hiragino Kaku Gothic ProN",
"Hiragino Sans",
Meiryo,
sans-serif;
/* background: rgb(235, 250, 242); */
background-image: url(../img/cherry.jpg); 
background-repeat: no-repeat;
background-size: cover;
/* background-size: 1980px 920px; */
overflow: hidden;
}

p{
margin: 0;
padding: 0;
}

/* header */
header{
    margin-top: 8px;
    color: rgba(pink, rgb(24, 63, 24), rgb(130, 130, 156), alpha);
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    color:rgb(197, 11, 11);
}

/* body */
.wrapper{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    padding-bottom: 23px;
    text-align: center;
}

/* omikuji button */
#btn1{
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    color: rgb(202, 19, 34);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
    background: linear-gradient(#f18e8ef3 0%,#ffb4f4bb 100%);
    box-shadow: 0 10px 0 grey;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

#btn1:hover{
    color: green;
    background: linear-gradient(#f87da2da 0%, rgba(205, 245, 94, 0.842) 100%);
}

#btn1:active{
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: 0 5px 0 gery;
}

footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: rgb(3, 9, 70);
    font: 16px Rajdhani;
    text-align: center;
    background: rgba(147, 161, 240, 0.7);
}

.shutter{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0em;
    padding: 0em;
    background-color: #1e1e1e;
    animation: byeShutter 2.5s forwards;
}

.shutter::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #fff;
    animation: shutterOpen 2.5s forwards;

}
@keyframes byeShutter{
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
@keyframes shutterOpen{
    0%{
        width: 0;
        height: 0.05em;
    }
    50%{
        width: 100%;
        height: 0.05em;
    }
    90%{
        width: 100%;
        height:100%;
    }
    100%{
        width: 100%;
        height:100%;
    }
}

@media screen and (max-width:480px) {
    body{
        background-position:50% 0%;
        background-size:auto 1000px;
    }
    header{
        font-size: 24px;
    }
}